$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@each $pos in (left, right, top, bottom) {
  $i: 25;
  @while $i >= 0 {
    .margin-#{$pos}-#{$i} { margin-#{$pos}: #{$i}px; }
    $i: $i - 5;
  }
}

.font-size-6-rem {
  font-size: 6rem;
}

.padding-12-15 {
  padding: 12px 15px 12px 15px;
}

.bg-sidebar-form {
  background-color: #374850;
}

.setupview-term-inline-input {
  width: 200px;
  display: inline;
}

.table-pagination-wraper .pagination {
  margin: 2px 0;
}

.counterWidget {
  cursor: pointer;
}

.counterWidget:hover {
  opacity: 0.7;
}


.tablesSelect-modal {
  width: 150px;
  display: inline-block;
}

.functionSelect-modal {
  width: 100px;
  display: inline-block;
}

.staticQuery-modal {
  font-size: 18px;
  vertical-align: middle;
  opacity: 0.50;
  font-weight: bold;
}

.btn-icon-modal {
  width: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.icons-scroll-modal {
  height: 100px;
  overflow-y: scroll;
}

.icons-scroll-modal .btn-icon-modal:first-child {
  margin-left: -1px;
}

.icons-scroll-modal .btn-icon-modal:first-child,
.icons-scroll-modal .btn-icon-modal:last-child {
  border-radius: 0;
}

.deleteViewBtn {
  position: absolute;
  top: 5px;
  right: 0;
}

.flex {
  display: inline-flex;
}
