{
  "branches": ["+([0-9])?(.{+([0-9]),x}).x", "master", { "name": "develop", "prerelease": true }],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/npm"]
  ]
}