{
  "branches": ["master", { "name": "develop", "prerelease": true }],
  "debug": true,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["semantic-release-yarn", {
      "npmPublish": false
    }],
    "@semantic-release/github",
    ["@semantic-release/exec", {
      "prepareCmd": "yarn lerna version ${nextRelease.version} --tag-version-prefix=\"packages-v\" -m \"chore(packages): packages version ${nextRelease.version} [skip ci]\" --force-publish --no-push --yes"
    }],
    ["@semantic-release/git", {
      "assets": ["package.json", "CHANGELOG.md", "packages/**/package.json", "packages/**/CHANGELOG.md"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }]
  ]
}