<nb-card accent="primary">
    <nb-card-header>{{title}}</nb-card-header>
    <nb-card-body>
        <form [formGroup]="filterForm">
          <h6>Filter Properties</h6>
          <div class="input-group">
            <!-- Filter name -->
            <input 
              nbInput 
              type="text" 
              placeholder="Filter Name" 
              class="form-control margin-auto-1rem-auto-0rem padding-right-1-rem" 
              formControlName="nameCtrl" 
              [status]="filterForm.controls['nameCtrl'].invalid && (filterForm.dirty || filterForm.touched) ? 'danger': 'success'"
              [(ngModel)]="filter.name" 
              nbTooltip="Will be used as the filter name"
              nbTooltipPlacement="top" 
              nbTooltipStatus="primary"
            >
  
            <!-- Filter color -->
            <nb-select 
              filled 
              placeholder="Color" 
              class="margin-auto-0 padding-right-1-rem" 
              formControlName="colorCtrl"
              [(ngModel)]="filter.color"
              [status]="filterForm.controls['colorCtrl'].invalid && (filterForm.dirty || filterForm.touched) ? 'danger': filter.color"  
              nbTooltip="Will be used in widget icon & accent"
              nbTooltipPlacement="top" 
              nbTooltipStatus="primary"
            >
              <nb-option value="primary">Perple</nb-option>
              <nb-option value="info">Blue</nb-option>
              <nb-option value="danger">Red</nb-option>
              <nb-option value="success">Green</nb-option>
              <nb-option value="warning">Orange</nb-option>
            </nb-select>
  
            <!-- Filter icon -->
            <nb-select 
              placeholder="Icon" 
              class="margin-auto-0 padding-right-1-rem" 
              formControlName="iconCtrl"
              [(ngModel)]="filter.icon"
              [status]="filterForm.controls['iconCtrl'].invalid && (filterForm.dirty || filterForm.touched) ? 'danger': 'success'"  
              nbTooltip="Will be used in filter icon"
              nbTooltipPlacement="top" 
              nbTooltipStatus="primary"
            >
              <nb-option *ngFor="let icon of iconsList" value="{{icon}}">
                  <nb-icon icon="{{icon}}" [status]="filter.color" class="margin-auto-1rem-auto-0rem"></nb-icon>
                  {{icon}}
              </nb-option>
            </nb-select>
          </div>
          <hr/>
          <h6>Filter The Data</h6>
          <!-- Where row start -->
          <div class="input-group margin-bottom-1-rem" *ngFor="let where of filter?.where; let i = index; let last = last; let first = first;">
            <span class="margin-auto-0 padding-right-1-rem">WHERE </span>
            <!-- Where Column -->
            <nb-select 
              placeholder="Column" 
              class="padding-right-1-rem" 
              formControlName="whereColumnCtrl_{{where.uuid}}"
              [(ngModel)]="filter.where[i].column"
              [status]="filterForm.controls['whereColumnCtrl_'+where.uuid].invalid && (filterForm.dirty || filterForm.touched) ? 'danger': 'success'"
              nbTooltip="The column to use in where clause"
              nbTooltipPlacement="top" 
              nbTooltipStatus="primary"   
            >
              <nb-option *ngFor="let column of view?.columns" value="{{column.name}}">{{column.name}}</nb-option>
            </nb-select>
            <!-- Where Operator -->
            <nb-select 
              placeholder="=><" 
              class="padding-right-1-rem opr-select" 
              formControlName="whereOprCtrl_{{where.uuid}}"
              [(ngModel)]="filter.where[i].opr"
              [status]="filterForm.controls['whereOprCtrl_'+where.uuid].invalid && (filterForm.dirty || filterForm.touched) ? 'danger': 'success'"
              nbTooltip="The operator to use in where clause"
              nbTooltipPlacement="top" 
              nbTooltipStatus="primary"    
            >
              <nb-option *ngFor="let opr of viewFilterWhereOprVals" value="{{opr}}">{{opr}}</nb-option>
            </nb-select>
            <!-- Where Value -->
            <input 
              nbInput 
              type="text" 
              placeholder="Value" 
              class="form-control margin-auto-1rem-auto-0rem padding-right-1-rem" 
              formControlName="whereValueCtrl_{{where.uuid}}"
              [(ngModel)]="filter.where[i].value"
              [status]="filterForm.controls['whereValueCtrl_'+where.uuid].invalid && (filterForm.dirty || filterForm.touched) ? 'danger': 'success'"
              nbTooltip="The value we expect"
              nbTooltipPlacement="top" 
              nbTooltipStatus="primary"  
            >
  
            <!-- Where OR/AND-->
            <nb-select 
              placeholder="OR/AND" 
              class="padding-right-1-rem or-and-select margin-0-0-0-auto" 
              formControlName="whereOrCtrl_{{where.uuid}}"
              [(ngModel)]="filter.where[i].or"
              [status]="filterForm.controls['whereOrCtrl_'+where.uuid].invalid && (filterForm.dirty || filterForm.touched) ? 'danger': 'success'"
              nbTooltip="If we use multiple statement, select OR or AND for next statement"
              nbTooltipPlacement="top" 
              nbTooltipStatus="primary"    
            >
              <nb-option value="1">OR</nb-option>
              <nb-option value="0">AND</nb-option>
            </nb-select>
            <!-- Add Where Button -->
            <button 
              nbButton 
              status="primary" 
              hero 
              size="tiny"
              nbTooltip="Add a new where"
              nbTooltipPlacement="top" 
              nbTooltipStatus="primary"
              class="margin-right-0-5-rem" 
              (click)="addWhere()" 
              *ngIf="last"
            >
              <nb-icon icon="plus"></nb-icon>
            </button>
            <button 
              nbButton 
              status="danger" 
              hero 
              size="tiny"
              nbTooltip="Delete this where"
              nbTooltipPlacement="top" 
              nbTooltipStatus="danger"
              (click)="deleteWhere(where.uuid)"
              *ngIf="!first"
            >
              <nb-icon icon="trash"></nb-icon>
            </button>
  
          </div>
          <!-- Where row end -->
        </form>
    </nb-card-body>
    <nb-card-footer>
      <div class="margin-0-0-0-auto">
        <button nbButton hero status="danger" size="medium" (click)="ref.close(false)" class="margin-auto-1rem-auto-0rem">
          <nb-icon icon="close"></nb-icon>
          Cancel
        </button>
        <button nbButton hero status="success" size="medium" (click)="save()" [disabled]="!isSaveEnabled">
          <nb-icon icon="plus"></nb-icon>
          Save
        </button>
      </div>
    </nb-card-footer>
  </nb-card>