#search-input {
    margin-right: 1rem;
    height: 44px;
}

#search-input::placeholder {
    color: #ffffff;
}

.margin-right-1rem {
    margin-right: 1rem;
}

::ng-deep
.select-button {
    height: 44px;;
}

::ng-deep
.tableContextMenuButton {
    padding: 0 !important;
}

::ng-deep
.ngx-datatable.bootstrap .datatable-footer {
  background: transparent;
}

::ng-deep
.ngx-datatable.bootstrap .datatable-footer .page-count {
    padding: 0;
}

::ng-deep
.ngx-datatable.bootstrap .datatable-footer .datatable-pager {
    margin: 0;
}

nb-layout-column {
    padding-left: 0px !important;
}

::ng-deep
nb-sidebar.filter-side-bar .main-container-fixed {
    top: auto !important;
    position: sticky !important;
}

::ng-deep
nb-sidebar.filter-side-bar .main-container-fixed .scrollable {
    padding: 0px;
}

::ng-deep
.inner_scroll .scrollable-container {
    height: auto !important;
}

app-widgets {
    display: block;
    overflow: hidden;
}

.view-main-content-layout-column {
    padding-top: 0px !important;
}

button[nbButton] {
    box-shadow: none !important;
}

::ng-deep
.ngx-datatable.bootstrap .datatable-row-right {
    transform: none !important;

    .datatable-body-cell {
        padding-right: 0px !important;
        text-align: right !important;
    }
}

::ng-deep
.ngx-datatable.bootstrap .datatable-row-left {
    transform: none !important;

    .datatable-body-cell {
        padding-left: 0px !important;
        text-align: left !important;
    }
}

::ng-deep
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
    border-bottom: 0px !important;
}