<nb-layout class="inner_scroll" [withScroll]="false" [windowMode]="false">
  
  <nb-layout-column  class="colored-column-primary view-main-content-layout-column" start [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="primary" nbSpinnerMessage="Loading Some Data">

    <app-widgets [view]="view" #widgets></app-widgets>
    <nb-card >
      <nb-card-header class="d-flex justify-content-between">
          <!-- search input -->
          <input nbInput id="search-input" class="" 
            type="text"
            placeholder="Type to search..."
            (keyup)="doSearch($event)" 
            size="medium"
            [(ngModel)]="searchInputModel" 
            status="primary"
            hero 
          />
          <!-- clear search button -->
          <button 
            nbButton status="warning" outline size="tiny" id="clear-search" *ngIf="showSearchClear" (click)="clearSearch()"
            nbTooltip="Reset search to regular results" nbTooltipPlacement="top" nbTooltipStatus="warning"
          >
            <nb-icon icon="close"></nb-icon>
            Clear Search
          </button>
          <!-- float right start -->
          <div class="d-flex align-items-center">


            <!-- number of records per page select -->
            <nb-select hero status="primary" 
              class="mr-3" placeholder="# of Results / Page" 
              (selectedChange)="selectLimit($event)" [selected]="10" size="medium">
              <nb-option value=10>10 Per Page</nb-option>
              <nb-option value=25>25 Per Page</nb-option>
              <nb-option value=50>50 Per Page</nb-option>
              <nb-option value=100>100 Per Page</nb-option>
            </nb-select>
            <!-- view configuration button -->
            <button 
              nbButton status="primary" hero size="medium" [routerLink]="['/views', view.id, 'configure']" 
              nbTooltip="`{{view.name}}` View Configurations" nbTooltipPlacement="top" nbTooltipStatus="primary" class="mr-3"
            >
              <nb-icon icon="options-2"></nb-icon>
            </button>
            <!-- add new record button -->
            <button 
              nbButton status="primary" hero size="medium" [routerLink]="['/views', view.id, 'view', 'add']" 
              nbTooltip="Add New `{{view.terms.one}}`" nbTooltipPlacement="top" nbTooltipStatus="primary" class="mr-3"
            >
              <nb-icon icon="plus"></nb-icon>
            </button>
            <!-- view delete button -->
            <button 
              nbButton status="danger" hero size="medium" (click)="deleteView()"
              nbTooltip="Delete `{{view.name}}` View" nbTooltipPlacement="top" nbTooltipStatus="danger"
            >
              <nb-icon icon="trash-2"></nb-icon>
            </button>
          </div>
          <!-- float right end -->
      </nb-card-header>
      <nb-card-body>
          <ngx-datatable #table 
            class="bootstrap"
            [rows]="rows"
            [columns]="columns" 
            [loadingIndicator]="true"
            [columnMode]="'force'"
            [headerHeight]="30"
            [footerHeight]="'auto'"
            [rowHeight]="'auto'"
            [reorderable]="true"
            [externalPaging]="true"
            [count]="totalElements"
            [offset]="offset"
            [limit]="limit"
            (page)='setPage($event)'
            >
              <ngx-datatable-row-detail
                [rowHeight]="'auto'"
                #rowDetail
                (toggle)="onSubviewToggle($event)"
              >
                <ng-template
                  let-row="row"
                  let-expanded="expanded"
                  ngx-datatable-row-detail-template
                >
                  <div style="padding-left:35px;">
                    <app-sub-view [subview]="view.subview" [row]="row"></app-sub-view>
                  </div>
                </ng-template>
              </ngx-datatable-row-detail>
            </ngx-datatable>
            <ng-template #tableContextMenuTmpl let-row="row">
              <button 
                class='tableContextMenuButton' ghost nbButton 
                (click)="setContextItems(row)" [nbContextMenu]="menuItems" nbContextMenuTrigger="click" nbContextMenuTagd="rowMenu"
                nbContextMenuPlacement="left">
                <nb-icon icon="more-vertical-outline"></nb-icon>
              </button>
            </ng-template>
            <ng-template #subviewTableIconTmpl let-row="row" let-expanded="expanded">
                <button 
                  class='tableContextMenuButton' ghost nbButton 
                  (click)="subviewTableAction(row)">
                  <nb-icon icon="{{expanded ? 'minus-square' : 'plus-square'}}" icon-end="false"></nb-icon>
                </button>
              </ng-template>
      </nb-card-body>
    </nb-card>

</nb-layout-column>

<nb-sidebar state="compacted" right tag="right" class="filter-side-bar">
  <app-filters [view]="view" (onFilterSelected)="onFilterSelected($event)" (onFilterDeselected)="onFilterDeselected()"></app-filters>
</nb-sidebar>

</nb-layout>
