<nb-card>
    <nb-card-header><h1 class="page-header h4">{{title}}</h1></nb-card-header>
</nb-card>

<nb-card [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
  <nb-card-header>
      <nb-select placeholder="# of Results / Page" [(ngModel)]="limitModel" (selectedChange)="selectLimit($event)" [selected]="10">
        <nb-option value=10>10 Per Page</nb-option>
        <nb-option value=25>25 Per Page</nb-option>
        <nb-option value=50>50 Per Page</nb-option>
        <nb-option value=100>100 Per Page</nb-option>
      </nb-select>
      <button 
      nbButton status="primary" hero size="small" [routerLink]="['/views', view.id, 'configure']" 
      nbTooltip="Edit view" nbTooltipPlacement="top" nbTooltipStatus="primary"
      >
        <nb-icon icon="plus"></nb-icon>
        Edit
      </button>
  </nb-card-header>
  <nb-card-body>
    <ngx-datatable #table 
      class="bootstrap" 
      [rows]="rows"
      [columns]="columns" 
      [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'"
      [headerHeight]="30"
      [footerHeight]="30"
      [rowHeight]="'auto'"
      [reorderable]="reorderable"
      [externalPaging]="true"
      [count]="totalElements"
      [offset]="offset"
      [limit]="limit"
      (page)='setPage($event)'
      >
    </ngx-datatable>
  </nb-card-body>
</nb-card>