#search-input {
    margin-right: 1rem;
    height: 44px;

    background-image: -webkit-gradient(linear, left top, right top, from(#598bff), to(#3366ff));
    background-image: linear-gradient(to right, #598bff, #3366ff);
    border: none;
    box-shadow: 0 0 0 0 #274bdb, 0 0 0 0 #1a34b8, 0 0 transparent;
    color: #ffffff;
}

#search-input::placeholder {
    color: #ffffff;
}

.margin-right-1rem {
    margin-right: 1rem;
}

.margin-right-5rem {
    margin-right: 5rem;
}

::ng-deep
.select-button {
    height: 44px;;
}