<nb-card accent="suceess" [nbSpinner]="isLoading" nbSpinnerStatus="control" nbSpinnerSize="giant">
  <nb-card-header>{{title}}</nb-card-header>
  <nb-card-body>
    <nb-stepper orientation="horizontal">

        <nb-step [stepControl]="basicDetailsForm" [label]="labelOne">
          <ng-template #labelOne>Basic</ng-template>
          <h4>Basic Details</h4>
          <form [formGroup]="basicDetailsForm" (ngSubmit)="onBasicDetailsSubmit()" class="step-container">
            <p class="">
              Let's start with the basic information about your account. The account is represnt a single database.
            </p>
            <div class="input-group">
              <input nbInput type="text" fieldSize="large" placeholder="Account name" class="form-control w-50" formControlName="accountNameCtrl"
                  [status]="basicDetailsForm.controls['accountNameCtrl'].invalid && (basicDetailsForm.dirty || basicDetailsForm.touched) ? 'danger': 'success'">
            </div>

            <div class="input-group">
            <nb-select 
              placeholder="Database Server" size="large" formControlName="databaseServerCtrl" class="form-control w-50"
              [status]="basicDetailsForm.controls['databaseServerCtrl'].invalid && (basicDetailsForm.dirty || basicDetailsForm.touched) ? 'danger': 'success'"  
            >
              <nb-option *ngFor="let item of databaseServers" value="{{item.value}}">{{item.name}}</nb-option>
            </nb-select>
            </div>
            <button nbButton hero nbStepperNext [disabled]="basicDetailsForm && basicDetailsForm.invalid" status="primary">next</button>
          </form>
        </nb-step>

        <nb-step [stepControl]="tunnelDetailsForm" [label]="labelTwo"> 
          <ng-template #labelTwo>Tunnel</ng-template>
            <h4>SSH Tunnel</h4>
            <form [formGroup]="tunnelDetailsForm" (ngSubmit)="onTunnelDetailsSubmit()" class="step-container" >
              <p class="">
                  An SSH tunnel links a port on your local machine to a port on a remote host. When these ports are linked, anything communicated to the local port is passed through SSH to the remote port; likewise, any communication to the remote port is passed back through SSH to the local port. The added benefit of this setup is that the communications between your local machine and the remote host is encrypted by the SSH connection.
              </p>
              <div class="input-group">
                  <nb-checkbox 
                    status="primary" class="form-control" formControlName="isTunnelEnabledCtrl" 
                    [disabled]="databaseConnectionType!=DatabaseConnectionType.SERVER"
                    [status]="tunnelDetailsForm.controls['isTunnelEnabledCtrl'].invalid && (tunnelDetailsForm.dirty || tunnelDetailsForm.touched) ? 'danger': 'success'"  
                  >
                    Configure SSH Tunnel?
                  </nb-checkbox>
              </div>

              <div class="input-group">
                <input 
                  nbInput type="text" placeholder="Hostname" class="form-control w-75 mw-100 mr-3" formControlName="sshHostCtrl" 
                  [disabled]="databaseConnectionType!=DatabaseConnectionType.SERVER"
                  [status]="tunnelDetailsForm.controls['sshHostCtrl'].invalid && (tunnelDetailsForm.dirty || tunnelDetailsForm.touched) ? 'danger': 'success'"
                >
                <input 
                  nbInput type="text" placeholder="Port" class="form-control w-25 mw-100 portInput" formControlName="sshPortCtrl" mask="99999" 
                  [status]="tunnelDetailsForm.controls['sshPortCtrl'].invalid && (tunnelDetailsForm.dirty || tunnelDetailsForm.touched) ? 'danger': 'success'" 
                >
              </div>
              <div class="input-group">
                <input 
                  nbInput type="text" placeholder="Username" class="form-control w-50 mw-100 mr-3" formControlName="sshUsernameCtrl"
                  [status]="tunnelDetailsForm.controls['sshUsernameCtrl'].invalid && (tunnelDetailsForm.dirty || tunnelDetailsForm.touched) ? 'danger': 'success'"
                >
                
                <nb-form-field class="w-50 mw-100">
                  <input 
                  nbInput [type]="getPasswordInputType()" placeholder="Password"  formControlName="sshPasswordCtrl" 
                  [status]="tunnelDetailsForm.controls['sshPasswordCtrl'].invalid && (tunnelDetailsForm.dirty || tunnelDetailsForm.touched) ? 'danger': 'success'"
                >
                  <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
                    <nb-icon [icon]="showPassword ? 'eye-off-outline' : 'eye-outline'"
                            pack="eva"
                            [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                    </nb-icon>
                  </button>
                </nb-form-field>

              </div>
              <div class="input-group">
                <nb-checkbox 
                  status="primary" class="form-control" formControlName="isSSHKeyEnabledCtrl"
                  [status]="tunnelDetailsForm.controls['isSSHKeyEnabledCtrl'].invalid && (tunnelDetailsForm.dirty || tunnelDetailsForm.touched) ? 'danger': 'success'"  
                >
                  Use SSH Private Key?
                </nb-checkbox>
              </div>
              <div class="input-group">
                <input nbInput placeholder="Private Key" class="form-control w-100 mw-100" formControlName="sshPrivateKeyCtrl" (click)="openElectronFileDialog(tunnelDetailsForm.controls.sshPrivateKeyCtrl)"
                [status]="tunnelDetailsForm.controls['sshPrivateKeyCtrl'].invalid && (tunnelDetailsForm.dirty || tunnelDetailsForm.touched) ? 'danger': 'success'" />
              </div>
              <button nbButton hero nbStepperPrevious status="basic" class="mr-3">prev</button>
              <button nbButton hero nbStepperNext [disabled]="tunnelDetailsForm && tunnelDetailsForm.invalid" status="primary">next</button>
            </form>
        </nb-step>

        <nb-step [stepControl]="databaseFileDetailsForm" [label]="labelThree">
          <ng-template #labelThree>Database</ng-template>
          <h4>Database</h4>
     
          <form [formGroup]="databaseFileDetailsForm" (ngSubmit)="onDatabaseDetailsSubmit()" class="step-container" *ngIf="databaseConnectionType==DatabaseConnectionType.FILE">
           
            <div class="input-group">
              <input 
                nbInput placeholder="Filename" class="form-control w-100 mw-100" formControlName="dbFilenameCtrl" (click)="openElectronFileDialog(databaseFileDetailsForm.controls.dbFilenameCtrl)"
                [status]="databaseFileDetailsForm?.controls['dbFilenameCtrl'].invalid && (databaseFileDetailsForm.dirty || databaseFileDetailsForm.touched) ? 'danger': 'success'" />
            </div>
       
            
            <button nbButton hero nbStepperPrevious status="basic" class="mr-3">prev</button>
            <button nbButton hero nbStepperNext [disabled]="databaseFileDetailsForm && databaseFileDetailsForm.invalid" status="primary">next</button>
          </form>


          <form [formGroup]="databaseDetailsForm" (ngSubmit)="onDatabaseDetailsSubmit()" class="step-container" [hidden]="databaseConnectionType!=DatabaseConnectionType.SERVER">
            <p class="">
              Let's setup the database connection. If you are using ssh tunnel use the local port on the remote server (avoid the tunnel's port).
            </p>

            <div class="input-group">
              <input 
                nbInput type="text" placeholder="Hostname" class="form-control w-75 mw-100 mr-3" formControlName="dbHostCtrl"
                [status]="databaseDetailsForm.controls['dbHostCtrl'].invalid && (databaseDetailsForm.dirty || databaseDetailsForm.touched) ? 'danger': 'success'"
              >
              <input 
                nbInput type="text" placeholder="Port" class="form-control w-25 mw-100 portInput" formControlName="dbPortCtrl" mask="99999" 
                [status]="databaseDetailsForm.controls['dbPortCtrl'].invalid && (databaseDetailsForm.dirty || databaseDetailsForm.touched) ? 'danger': 'success'" 
              >
            </div>
            <div class="input-group">
              <input 
                nbInput type="text" placeholder="Username" class="form-control w-50 mw-100 mr-3" formControlName="dbUsernameCtrl"
                [status]="databaseDetailsForm.controls['dbUsernameCtrl'].invalid && (databaseDetailsForm.dirty || databaseDetailsForm.touched) ? 'danger': 'success'"
              >

              <nb-form-field class="w-50 mw-100">
                <input 
                nbInput [type]="getPasswordInputType()" placeholder="Password" class="form-control" formControlName="dbPasswordCtrl" 
                [status]="databaseDetailsForm.controls['dbPasswordCtrl'].invalid && (databaseDetailsForm.dirty || databaseDetailsForm.touched) ? 'danger': 'success'"
              >
                <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
                  <nb-icon [icon]="showPassword ? 'eye-off-outline' : 'eye-outline'"
                          pack="eva"
                          [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                  </nb-icon>
                </button>
              </nb-form-field>


            </div>
            <div class="input-group">
                <input 
                  nbInput type="text" placeholder="Database" class="form-control w-100 mw-100" formControlName="dbDbCtrl"
                  [status]="databaseDetailsForm.controls['dbDbCtrl'].invalid && (databaseDetailsForm.dirty || databaseDetailsForm.touched) ? 'danger': 'success'"
                >
              </div>
            <button nbButton hero nbStepperPrevious status="basic" class="mr-3">prev</button>
            <button nbButton hero nbStepperNext [disabled]="databaseDetailsForm && databaseDetailsForm.invalid" status="primary">next</button>
          </form>
        </nb-step>

        <nb-step [label]="labelFour">
          <ng-template #labelFour>Connectivity Test</ng-template>
          <h4>Connectivity Test</h4>
          <p class="">
            This is the final step, we have to test the connection to the server. In case of failure you can go back to previous steps and correct the parameters.
          </p>
          <div class="input-group">
            <button 
              nbButton status="primary" hero size="giant" (click)="testConnection()" *ngIf="!isSaveEnabled"
            >
              <nb-icon icon="wifi"></nb-icon>
              Test Connection
            </button>
          </div>
          <ng-container xid="testLogsCard" *ngIf="testLog.length>0">
            <nb-alert *ngFor="let tLog of testLog" status="{{tLog[0]}}">{{tLog[1]}}</nb-alert>
          </ng-container>
          <button nbButton hero nbStepperPrevious *ngIf="!isSaveEnabled">prev</button>
        </nb-step>
      </nb-stepper>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="danger" size="small" (click)="ref.close(false)">
      <nb-icon icon="close"></nb-icon>
      Cancel
    </button>
    <button nbButton hero status="success" size="small" (click)="save()" [disabled]="!isSaveEnabled" class="mr-3">
      <nb-icon icon="plus"></nb-icon>
      Save
    </button>
  </nb-card-footer>
</nb-card>
