nb-card {
    width: 45rem;
    margin: auto;
}

.input-group {
    margin-bottom: 1rem;
}

.text-body {
    font-size: 0.8rem;
}

h4 {
    margin: 0.5rem 0rem;
}

.portInput {
    width: 6rem;
}

nb-card-footer {
    flex-direction: row-reverse;
    display: flex;
}

::ng-deep
nb-stepper.horizontal .header .step {
    width: auto !important;
}

::ng-deep
.nb-theme-default nb-alert {
    line-height: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    font-size: 0.8rem;
}

#testLogsCard {
    width: auto;
    margin: 1rem auto;
}

#testLogsCard nb-card-body {
    padding-bottom: 0.5rem;
}