.chakra-tabs__tab[aria-selected='true'] {
  position: relative;
  border-bottom: 0px;
}

.chakra-tabs__tab[aria-selected='true']::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 0px;
  background-color: var(--chakra-colors-primary-400);
  animation: animateborder 0.5s ease-in-out 1 normal forwards;
  animation-iteration-count: 1;
}
