<nb-layout>
  
        <nb-layout-column  class="colored-column-primary padding-0" start>
<nb-card>
    <nb-card-header>
        <h4 class="page-header h4">Accounts</h4>
    </nb-card-header>
</nb-card>

<nb-card [nbSpinner]="isSpinLoading" nbSpinnerSize="giant" nbSpinnerStatus="primary" nbSpinnerMessage="Doing Something">
    <nb-card-header class="d-flex justify-content-between">
        <input nbInput shape="semi-round" 
            type="text"
            placeholder="Type to filter the name column..."
            (keyup)="updateFilter($event)"
            class="w-25 mw-100"
          />
        <button 
            nbButton status="primary" hero size="medium" (click)="edit(null)" 
            nbTooltip="Add new account" nbTooltipPlacement="top" nbTooltipStatus="primary"
        >
            <nb-icon icon="plus"></nb-icon>
            Add
        </button>
    </nb-card-header>
    <nb-card-body>
        <ngx-datatable #table 
            class="bootstrap" 
            [rows]="rows"
            [columns]="columns"
            [columnMode]="'force'"
            [headerHeight]="30"
            [footerHeight]="'auto'"
            [rowHeight]="'auto'"
            [reorderable]="reorderable"
            [limit]="10"
        >
    </ngx-datatable>
    <ng-template #cDateTpl let-row="row">
        {{row.created | date}}
    </ng-template>
    <ng-template #mDateTpl let-row="row">
        {{row.modified | date}}
    </ng-template>
    <ng-template #actionsTpl let-row="row">
        <button 
            nbButton [status]="row.isActive ? 'success' : 'primary'" hero size="small" (click)="use(row, this)" 
            nbTooltip="Login & Use Account" nbTooltipPlacement="top" nbTooltipStatus="primary"  class="mr-3"
        >
            <nb-icon 
                icon="{{row.icon}}" 
                pack="whhg" 
                class="h-auto"
            ></nb-icon>
            {{row.isActive ? "Connected" : "Use"}}
        </button>
        <button 
            nbButton status="primary" hero size="small" (click)="edit(row)" 
            nbTooltip="Edit" nbTooltipPlacement="top" nbTooltipStatus="primary"  class="mr-3"
        >
            <nb-icon icon="edit" class="h-auto"></nb-icon>
        </button>
        <button 
            nbButton status="danger" hero size="small" (click)="delete(row)" 
            nbTooltip="Delete" nbTooltipPlacement="top" nbTooltipStatus="danger" class="mr-0"
        >
            <nb-icon icon="trash-2" class="h-auto"></nb-icon>
        </button>
        
    </ng-template>
        
    </nb-card-body>
</nb-card>
</nb-layout-column>
</nb-layout>