::ng-deep
.datatable-header {
  font-weight: 600;
}

::ng-deep
.datatable-body {
  font-weight: 200;
}



::ng-deep
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .disabled a {
  color: #c5cee0;
}

::ng-deep
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a {
  background-color: transparent !important;
  color: #ffffff;
}

::ng-deep
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
  background-color: transparent !important;
  color: #ffffff;
}

::ng-deep
.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
  margin: auto;
}

::ng-deep
.ngx-datatable.bootstrap .datatable-footer {
  background: transparent;
}

::ng-deep
.ngx-datatable.bootstrap .datatable-footer .page-count {
  padding: 0rem !important;
}