::ng-deep
.datatable-header {
  font-weight: 600;
}

::ng-deep
.datatable-body {
  font-weight: 200;
}

::ng-deep
.datatable-body button {
  padding: 0.5rem 0.75rem !important;
  margin-right: 0.8rem;
}

::ng-deep
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
  background-color: #ffffff;
}

::ng-deep
.ngx-datatable.bootstrap .datatable-footer {
  background: #ffffff;

}

::ng-deep
.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
  color: #598bff
}

::ng-deep
.ngx-datatable.bootstrap .datatable-footer .datatable-pager .disabled a {
  color: #c5cee0;
}

::ng-deep
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a {
  background-color: #3366ff !important;
  color: #ffffff;
}

::ng-deep
.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
  background-color: #598bff !important;
  color: #ffffff;
}

::ng-deep
.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
  margin: auto;
}

nb-card-header input {
  margin: 1rem auto;
  padding:8px;
  width:30%;
}

nb-card-header button {
  margin: 1rem auto;
  float: right;
}