.widget-card {
    overflow: hidden;
    padding: 0px;
    height: 7rem;
}

.widget-card nb-card-body {
    width: 12vw;
    overflow: visible;
}

.widget-card .row {
    line-height: normal;
    margin: auto 0;
}

.widget-card .widget-title {
    text-align: center;
    padding: 0rem;
}

.widget-card .widget-value {
    font-size: 3rem;
    z-index: 1;
    padding: 0px;
    text-align: center;
}

.widget-card .widget-icon {
    position: relative;
    right: 5rem;
    bottom: 1.5rem;
}

.widget-card .widget-icon nb-icon {
    position: absolute;
    width: 8rem;
    opacity: 0.3;
}

::ng-deep
.flip-button {
    bottom: -10px !important;
    right: -10px !important;
}

::ng-deep
.flip-button nb-icon {
    font-size: 2rem;
}

.add-widget-card-container nb-card {
    height: 7rem;
}

.add-widget-card-container nb-card nb-card-body {
    justify-content: center;
    display: flex;
}

.add-widget-card-container nb-card nb-card-body button {
    margin: auto;
}

.widget-container nb-flip-card {
    padding: 0rem 0.5rem;
}

.widget-container:first-child nb-flip-card{
    padding-left: 0px;
}

.widget-container:last-child nb-flip-card{
    padding-right: 0px;
}