<div class="row margin-0">

  <!-- Widget card start -->
  <div class="col-lg-2 padding-0 widget-container" *ngFor="let widget of view?.widgets">
    <nb-flip-card>
      <!-- Card front start -->
      <nb-card-front>
        <nb-card class="widget-card" accent="{{widget.color}}">
          <nb-card-body>
            <div class="row">
              <div class="col-lg-12 widget-title">{{widget.name}}</div>
              <div class="col-lg-12 widget-value" [fittext]="true" [activateOnResize]="true" [compression]="5-(widget?.lastResult?.toString().length/7)" fontUnit="px">{{widget?.lastResult}}</div>
              <div class="widget-icon">
                <nb-icon icon="{{widget.icon}}" size="large" status="{{widget.color}}" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <!-- Card front end -->
      <!-- Card back start-->
      <nb-card-back>
        <nb-card class="widget-card" accent="danger">
          <nb-card-body>
              <!-- Edit button -->
              <button 
              nbButton 
              status="primary" 
              hero
              size="tiny"
              nbTooltip="Edit Widget"
              nbTooltipPlacement="top" 
              nbTooltipStatus="primary" 
              class="mb-3 d-flex"
              (click)="edit(widget)"
            >
              <nb-icon icon="plus"></nb-icon>
              Edit
            </button>
            <!-- Delete button-->
            <button 
              nbButton 
              status="danger" 
              hero
              size="tiny"
              nbTooltip="Ddelete Widget"
              class="d-flex"
              nbTooltipPlacement="top" 
              nbTooltipStatus="danger"
              (click)="remove(widget)"
            >
              <nb-icon icon="trash"></nb-icon>
              Delete
            </button>
          </nb-card-body>
        </nb-card>
      </nb-card-back>
      <!-- Card back end-->
    </nb-flip-card>
  </div>
  <!-- Widget card end -->

  <!-- Add widget button start -->
  <div class="col-lg-2 add-widget-card-container" *ngIf="view?.widgets?.length<6">
    <nb-card>
      <nb-card-body>
          <button 
            nbButton 
            status="primary" 
            ghost 
            size="tiny"
            nbTooltip="Add New Widget"
            nbTooltipPlacement="top" 
            nbTooltipStatus="primary"
            (click)="add()"
          >
            <nb-icon icon="plus"></nb-icon>
            Add Widget
          </button>
      </nb-card-body>
    </nb-card>
    
  </div>
  <!-- Add widget button end -->

</div>

