<nb-card>
    <nb-card-header><h1 class="page-header h4">{{title}}</h1></nb-card-header>
</nb-card>

<nb-layout class="inner_scroll" [withScroll]="false" [windowMode]="false">
  
    <nb-layout-column  class="colored-column-primary" start>

<nb-card [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
    <nb-card-header>
      <div [formGroup]="viewHeaderForm">
        <nb-select class="float-left" placeholder="Select Table" formControlName="viewtTableCtrl">
          <nb-option *ngFor="let tbl of tables" value="{{tbl}}">{{tbl}}</nb-option>
        </nb-select>
        <input nbInput type="text" placeholder="View name" class="form-control" formControlName="viewtNameCtrl"
          [status]="viewHeaderForm.controls['viewtNameCtrl'].invalid && (viewHeaderForm.dirty || viewHeaderForm.touched) ? 'danger': 'success'">
      </div>
    </nb-card-header>
    <nb-card-body>
      <ngx-datatable #table 
            class="bootstrap" 
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="30"
            [footerHeight]="30"
            [rowHeight]="'auto'"
            [limit]="10"
        >
        <ngx-datatable-column name="Name"></ngx-datatable-column>
        <ngx-datatable-column name="Enabled" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-onCheckboxChangeFn="onCheckboxChangeFn">
            <nb-checkbox [checked]=value (checkedChange)="row.enabled=$event"></nb-checkbox>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Searchable" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-onCheckboxChangeFn="onCheckboxChangeFn">
              <nb-checkbox [checked]=value (checkedChange)="row.searchable=$event"></nb-checkbox>
            </ng-template>
          </ngx-datatable-column>
        <ngx-datatable-column name="Type"></ngx-datatable-column>
        <ngx-datatable-column name="Nullable"></ngx-datatable-column>
        <ngx-datatable-column name="Default"></ngx-datatable-column>
        <ngx-datatable-column name="Key"></ngx-datatable-column>
        <ngx-datatable-column name="Extra"></ngx-datatable-column>
      </ngx-datatable>
    </nb-card-body>
</nb-card>

<div class="row" *ngIf="view?.table">
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>Terminology</nb-card-header>
      <nb-card-body>
        <p class="margin-top-0rem">
          <sub>The plural & singular terminology of data. Ex. Create "user"; Show "users";</sub>
        </p>
        <div [formGroup]="termForm">
          <div class="input-group">
              <input 
                nbInput type="text" fullWidth placeholder="One item" class="form-control margin-bottom-1rem" formControlName="termOneCtrl"
                [status]="termForm.controls['termOneCtrl'].invalid && (termForm.dirty || termForm.touched) ? 'danger': 'success'">
            </div>
            <div class="input-group">
              <input 
                nbInput type="text" fullWidth placeholder="Many items" class="form-control" formControlName="termManyCtrl"
                [status]="termForm.controls['termManyCtrl'].invalid && (termForm.dirty || termForm.touched) ? 'danger': 'success'">
            </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-8">
    <nb-card>
      <nb-card-header>Permissions</nb-card-header>
        <nb-card-body id="permissions-card">
            <nb-alert *ngIf="!this.isHavePrimaryKey" accent="danger">Primary Key is missing. Update & Delete operations are disabled.</nb-alert>
            <p class="margin-top-0rem">
              <sub>Please select the view permissions; you can always edit the permissions later.</sub>
            </p>
          <div class="row">
            <div class="col-lg-6 margin-bottom-0_5rem"><nb-checkbox [(ngModel)]="view.permissions.create">Create</nb-checkbox></div>
            <div class="col-lg-6 margin-bottom-0_5rem"><nb-checkbox [(ngModel)]="view.permissions.read" disabled>Read</nb-checkbox></div>
            <div class="col-lg-6"><nb-checkbox disabled="{{!this.isHavePrimaryKey}}" [(ngModel)]="view.permissions.update">Update</nb-checkbox></div>
            <div class="col-lg-6"><nb-checkbox disabled="{{!this.isHavePrimaryKey}}" [(ngModel)]="view.permissions.delete">Delete</nb-checkbox></div>
          </div>
        </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row"  *ngIf="view?.table">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Sub View</nb-card-header>
      <nb-card-body>
        <div [formGroup]="subviewForm">
          <p>Connect an existing view as a subview to display child table rows.</p>
          <div class="form-group">
            <nb-checkbox formControlName="subviewEnabledCtrl">Enabled</nb-checkbox>
          </div>

          <div class="form-group margin-bottom-0_5rem">
            <label class="label" >Select a view to using as a subview</label>
            <nb-select formControlName="subviewViewIdCtrl" fullWidth placeholder="Select View" [disabled]="!view.subview?.enabled">
              <nb-option *ngFor="let view of allViews" value="{{view.id}}">{{view.name}}</nb-option>
            </nb-select>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="label">Select local column to match</label>
                <nb-select formControlName="subviewSourceColumnCtrl" fullWidth placeholder="Local Column" [disabled]="!view.subview?.enabled && !view.subview?.view_id">
                  <nb-option *ngFor="let col of view?.columns" value="{{col.name}}">{{col.name}}</nb-option>
                </nb-select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="label" >to match in `{{subviewTargetView?.name}}`</label>
                <nb-select formControlName="subviewTargetColumnCtrl" fullWidth placeholder="Target Column" [disabled]="!view.subview?.enabled && !view.subview?.view_id">
                  <nb-option *ngFor="let col of subviewTargetView?.columns" value="{{col.name}}">{{col.name}}</nb-option>
                </nb-select>
              </div>
            </div>
          </div>
      </div>
      </nb-card-body>
    </nb-card>
  </div>

</div>

<nb-card>
  <nb-card-header id="footer">
    <button nbButton hero status="success" size="medium" (click)="save()" [disabled]="!isSaveEnabled">
      <nb-icon icon="plus"></nb-icon>
      Save
    </button>
  </nb-card-header>
</nb-card>

</nb-layout-column>
</nb-layout>