@import "../../../themes";



nb-select[formcontrolname="viewtTableCtrl"] {
    margin-right: 1.25rem;
}

.margin-bottom-1rem {
    margin-bottom: 1rem;
}

.margin-top-0rem {
    margin-top: 0rem;
}

.margin-bottom-0_5rem
{
    margin-bottom: 0.5rem
}

::ng-deep
#permissions-card span.custom-checkbox
{
    width: 2rem;
    height: 2rem;
}

#footer {
    display: flex;
    flex-direction: row-reverse;
}

::ng-deep
.inner_scroll .scrollable-container {
    height: auto !important;
    overflow: unset !important;
}

nb-layout-column {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
}

::ng-deep
tag-input .ng2-tag-input {
    padding: 0px !important;
    border: none !important;
}

::ng-deep
tag-input .ng2-tag-input tag {
    height: auto !important;
    padding: 0rem 1rem !important;
    border-radius: 25px !important;
    background-image: linear-gradient(to right, nb-theme(color-primary-400), nb-theme(color-primary-500)) !important;
    color: nb-theme(text-basic-color) !important;
    box-shadow: none !important;
}