nb-list {
    height: 10em !important;
    overflow-y: scroll !important;
}

.scrollable-container {
    height: 10em !important;
}

nb-list nb-list-item {
    border-bottom: 0px !important;
    line-height: 1.2rem !important;
    cursor: pointer;
}

nb-list {
    nb-badge {
        position: relative !important;
    }

    nb-alert {
        nb-badge {
            position: absolute !important;
        }
        .right-7em {
            right: 7em;
        }
    }
}

.format {
    white-space: pre-wrap;
}