<div class="d-flex justify-content-between">
    <h6 class="mt-auto mb-auto">Console Log</h6>
    <nb-actions size="small" class="d-flex justify-content-end">
        <nb-action [icon]="!isMinimized?'arrow-circle-down-outline':'arrow-circle-up-outline'" (click)="isMinimized=!isMinimized" class="pr-0"></nb-action>
    </nb-actions>
</div>

<nb-list
    nbInfiniteList
    listenWindowScroll
    [ngClass]="{'d-none': isMinimized}"
    class="mt-3 scrollable scrollable-container"
>

    <nb-list-item *ngFor="let logItem of logItems" class="pl-0 pb-2 pt-2 d-flex justify-content-between" (click)="toggleClass($event,'format')" nbTooltip="Click to Pretty Print" nbTooltipIcon="info" nbTooltipAdjustment="horizontal" nbTooltipPlacement="left" nbTooltipStatus="basic" >
        <ng-container [ngSwitch]="logItem.type">

            <nb-alert *ngSwitchCase="logTypes.error" class="w-100 mb-0" accent="danger">
                <nb-badge class="mr-2" position=" end" text="{{logItem.sourceName}}" status="danger"></nb-badge>
                <nb-badge *ngIf="logItem.method" class="mr-2 right-7em" position=" end" text="{{logItem.method}}" status="primary"></nb-badge>
                {{logItem.message}}
            </nb-alert>

            <nb-alert *ngSwitchCase="logTypes.warning" class="w-100 mb-0" accent="warning">
                <nb-badge class="mr-2"  position=" end" text="{{logItem.sourceName}}" status="warning"></nb-badge>
                <nb-badge *ngIf="logItem.method" class="mr-2 right-7em" position=" end"  text="{{logItem.method}}" status="primary"></nb-badge>
                {{logItem.message}}
            </nb-alert>
                
            <nb-alert *ngSwitchCase="logTypes.success" class="w-100 mb-0" accent="success">
                <nb-badge class="mr-2" position=" end" text="{{logItem.sourceName}}" status="success"></nb-badge>
                <nb-badge *ngIf="logItem.method" class="mr-2 right-7em" position=" end" text="{{logItem.method}}" status="primary"></nb-badge>
                {{logItem.message}}
            </nb-alert>

            <ng-container *ngSwitchDefault>
                <div>{{logItem.message}}</div>
                <div class="mb-auto pl-3">
                    <nb-badge class="mr-2" text="{{logItem.sourceName}}" status="success"></nb-badge>
                    <nb-badge *ngIf="logItem.method" position=" end"  text="{{logItem.method}}" status="primary"></nb-badge>
                </div>
            </ng-container>

        </ng-container>
    </nb-list-item>
</nb-list>