<nb-layout windowMode>
  <nb-layout-header fixed>
      <h3 class="mt-4 tracking-in-expand">ElectroCRUD <small class="subtitle">v.{{versionFromPkg}}</small></h3>
      <div class="right-bar">
        

        <nb-actions size="medium">
          <nb-action 
            class="control-item" icon="briefcase-outline" title="Accounts"  
            nbTooltip="Accounts list"  nbTooltipPlacement="bottom" nbTooltipStatus="primary" [routerLink]="['/accounts']" 
          ></nb-action>
        </nb-actions>

        <nb-select placeholder="Default" hero (selectedChange)="changeTheme($event)">
          <nb-option value="cosmic">Cosmic</nb-option>
          <nb-option value="default">Light</nb-option>
        </nb-select>
     </div>
  </nb-layout-header>

  <nb-sidebar tag="left-sidebar">
    <h5 id='active-account' *ngIf="account">{{account?.name}}</h5>
    <nb-menu [items]="items" *ngIf="account" ></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <app-log-console class="w-100"></app-log-console>
  </nb-layout-footer>
</nb-layout>