ngx-monaco-editor {
    height: 10em;
}

nb-layout-column {
    max-height: calc(100vh - 112px);
    overflow-y: hidden;

    padding-bottom: 0;;

    nb-card {
        max-height: initial;
    }
}

::ng-deep
.nb-theme-cosmic nb-layout .layout {
    min-height: calc(100vh - 112px) !important;
}

.widget-box-wide {
    height: 500px;
}