<nb-layout #layout [withScroll]="false" [windowMode]="false">
    <nb-layout-column  class="colored-column-primary p-0" start>
        <nb-card>
            <nb-card-header><h1 class="page-header h4">Custom SQL Query</h1></nb-card-header>
        </nb-card>

        <nb-card>
            <nb-card-body>
                <nb-tabset>
                    <nb-tab *ngFor="let query of queries; let first = first; let last = last; let idx = index;" [tabTitle]=query.name class="p-0 pt-3" [active]=last>
                        <ngx-monaco-editor [options]="editorOptions" [(ngModel)]=query.query></ngx-monaco-editor>
                    
                        <nb-actions size="small" fullWidth class="pt-3 pb-3">
                            <nb-action icon="arrow-right" nbTooltipStatus="primary" nbTooltip="Execute query" (click)="execute(query)"></nb-action>
                            <nb-action icon="save"  nbTooltipStatus="primary" nbTooltip="Save" (click)="saveTab(query)"></nb-action>
                            <nb-action icon="plus"  nbTooltipStatus="primary" nbTooltip="Open new query tab" (click)="addNewTab()"></nb-action>
                            <nb-action icon="close"  nbTooltipStatus="danger" nbTooltip="Close tab" (click)="closeTab(query)"></nb-action>
                        </nb-actions>
                    </nb-tab>
                </nb-tabset>

                <div #spreadsheet class='widget-box-wide'></div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>