@import 'themes';

@import '~@nebular/theme/styles/globals';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/bootstrap-reboot.scss';
@import '~bootstrap/scss/utilities/_sizing.scss';
@import '~bootstrap/scss/utilities/_text.scss';

@import 'dhx-spreadsheet/codebase/spreadsheet.min.css';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.handsontable table tbody tr td {
  color: #000000;
}