@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/cosmic';

$nb-themes: nb-register-theme((

  // add your variables here like:

  // color-primary-100: #f2f6ff,
  // color-primary-200: #d9e4ff,
  // color-primary-300: #a6c1ff,
  // color-primary-400: #598bff,
  // color-primary-500: #3366ff,
  // color-primary-600: #274bdb,
  // color-primary-700: #1a34b8,
  // color-primary-800: #102694,
  // color-primary-900: #091c7a,

  text-button-font-weight: 600

), cosmic, cosmic);


.float-right {
  float: right
}

.nb-theme-default .nb-theme-default [nbButton] nb-nb-icon {
  font-size: 1rem;
}

.input-group {
  display: flex;
}

.margin-bottom-0-5-rem {
  margin-bottom: 0.5rem;
}

.padding-0 {
  padding: 0px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.margin-0 {
  margin: 0px !important;
}