<section class="content">

  <!-- Data Source -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">DataSource</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
          <div class="box-body">

            <div class="form-group">
              <label for="inputName" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <ui-select ng-model="selectedTable.value" on-select="onTablesSelected($item)">
                  <ui-select-match>
                      <span ng-bind="$select.selected.name"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="item in (tables | filter: $select.search) track by item.name">
                      <span ng-bind="item.name"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <table class="table table-hover" ng-show="table">
              <tbody><tr>
                <th></th>
                <th>Column</th>
                <th>Type</th>
                <th>Null</th>
                <th>Key</th>
                <th>Default</th>
                <th>Extra</th>
              </tr>
              <tr ng-repeat="col in columns">
                <td><i-check ng-model="col.selected" class="icheckbox_flat-blue"></i-check></td>
                <td>{{col.Field}}</td>
                <td>{{col.Type}}</td>
                <td>{{col.Null}}</td>
                <td>{{col.Key}}</td>
                <td>{{col.Default}}</td>
                <td>{{col.Extra}}</td>
              </tr>
            </tbody></table>

          </div>
        
        </form>
      </div>
    </div>
  </div>
  <!-- /.Data Source -->


  <!-- Terminology -->
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Terminology</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
          <div class="box-body">

            <p class="input-group-sm">
              Add new <input ng-model="term.one" type="text" class="form-control setupview-term-inline-input"> .
            </p>

            <p>
              List of <input ng-model="term.many" type="text" class="form-control setupview-term-inline-input"> .
            </p>

          </div>

        </form>
      </div>
    </div>
  <!-- /.Terminology -->


  <!-- Permissions -->
    <div class="col-xs-12 col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Permissions</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
          <div class="box-body">

            <div class="row margin-top-10 margin-bottom-20">
              <div class="col-sm-6 col-xs-12">
                <i-check ng-model="permissions.c" class="icheckbox_flat-blue"></i-check> Create
              </div>
              <div class="col-sm-6 col-xs-12">
                <i-check ng-model="permissions.r" class="icheckbox_flat-blue"></i-check> Read
              </div>
            </div>
            <div class="row margin-top-15 margin-bottom-10">
              <div class="col-sm-6 col-xs-12">
                <i-check ng-model="permissions.u" class="icheckbox_flat-blue"></i-check> Update
              </div>
              <div class="col-sm-6 col-xs-12">
                <i-check ng-model="permissions.d" class="icheckbox_flat-blue"></i-check> Delete
              </div>
            </div>

          </div>

        </form>
      </div>
    </div>
  </div>
  <!-- /.Permissions -->


  <!-- Footer -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-flat bg-navy">Cancel</button>
            <button ng-click="onSaveBtn()" type="submit" class="btn pull-right btn-flat bg-olive">
              <i class="fa fa-paper-plane margin-right-5"></i>Save
            </button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  <!-- /.Fotter -->

</section>
