<div class="jumbotron" ng-show="isViewEmpty">
  <div class="container">
    <h1>Empty View</h1>
    <p>You must configure your view.</p>
    <p><a class="btn btn-primary btn-lg" href="#/view/{{viewData.id}}/setup" role="button">View Configure</a></p>
  </div>
</div>

<section class="content" ng-show="!isViewEmpty">
  <!--<div class="row">
    <div class="col-xs-12">
      <a class="btn btn-primary btn-lg" href="#/view/{{viewData.id}}/setup" role="button">Configure</a>
    </div>
  </div>-->

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{term.many}}</h3>
          <div class="box-tools">
            <a ng-show="permissions.c" class="btn btn-sm pull-left btn-flat bg-green margin-right-10" href="#/view/{{viewData.id}}/setup" role="button">Add {{term.one}}</a>
            <a class="btn btn-sm pull-right btn-flat bg-purple" href="#/view/{{viewData.id}}/setup" role="button">Configure</a>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
          <div class="row">
            <div class="col-xs-12">
              <table class="table table-hover table-bordered">
                <tbody>
                  <tr>
                    <th ng-repeat="col in tableData.columns">{{col}}</th>
                    <th></th>
                  </tr>
                <tr ng-repeat="row in tableData.rows">
                  <td ng-repeat="td in row">{{td}}</td>
                  <td>
                    <button ng-show="permissions.u" ng-click="updateRow(row)" type="button" class="btn btn-xs bg-green btn-flat" data-toggle="tooltip" title="Edit {{term.one}}"><i class="fa fa-pencil"></i></button>
                    <button ng-show="permissions.d" ng-click="deleteRow(row)" type="button" class="btn btn-xs bg-red btn-flat" data-toggle="tooltip" title="Delete {{term.one}}"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5 col-xs-12">
              <div class="margin-top-10">Showing {{currentPage}} to {{(tableData.count/rowsPerPage) | roundUp}} of {{tableData.count}} entries</div>
            </div>
            <div class="col-sm-7 col-xs-12">
              <div class="pull-right no-margin no-padding table-pagination-wraper">
                <uib-pagination class="pagination-sm" max-size="5" total-items="tableData.count" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
