<section class="content">

  <!-- row data -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{{term.one}} {{rowKey}}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

          <div class="row">

            <div class="col-xs-12 col-md-6" ng-repeat="column in rowDataColumns">
              <div class="col-xs-12" ng-repeat="row in column">
                <div class="col-xs-12 col-sm-4 text-muted"><strong>{{row.key}}</strong></div>
                <div class="col-xs-12 col-sm-8">{{row.value}}</div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- /.row data -->

  <!-- tables -->
  <div class="row" ng-repeat="table in tables">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{{table.name}}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

          <div class="row">
            <div class="col-xs-12">
              <table class="table table-hover table-bordered dataTable">
                <thead>
                  <tr>
                    <th ng-repeat="col in table.results.columns">{{col}}</th>
                  </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in table.results.rows">
                  <td ng-repeat="(tdKey, tdVal) in row">
                    {{tdVal}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>

        </div>

        <div class="box-footer">
          <div class="col-sm-5 col-xs-12">
            <div class="margin-top-10">Showing {{table.currentPage}} to {{(table.results.count/table.rowsPerPage) | roundUp}} of {{table.results.count}} entries</div>
          </div>
          <div class="col-sm-7 col-xs-12">
            <div class="pull-right no-margin no-padding table-pagination-wraper">
              <uib-pagination class="pagination-sm" max-size="5" total-items="table.results.count" ng-model="table.currentPage" ng-change="pageTableChanged(table)"></uib-pagination>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /.tables -->

</section>
