<!-- /view filters modal -->
<script type="text/ng-template" id="viewFiltersModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Custom Filter Settings</h3>
    </div>
    <div class="modal-body">

        <form class="form-horizontal">
          <div class="row">

            <div class="col-xs-12" ng-show="params.length > 0">
              <div class="form-group">

                <div class="col-sm-12">
                <div class="col-sm-10 col-sm-offset-2 flex" id='inputWhere' ng-repeat="param in params">

                  <!-- where column name -->
                  <select class="form-control tablesSelect-modal margin-right-20" ng-model="param.column">
                    <option ng-repeat="col in columns" value="{{col.value}}">{{col.name}}</option>
                  </select>
                  <!-- ./ where column name -->

                  <!-- where column operator -->
                  <select class="form-control functionSelect-modal margin-right-20" ng-model="param.operator">
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                    <option value=">">></option>
                    <option value=">=">>=</option>
                    <option value="<"><</option>
                    <option value="<="><=</option>
                  </select>
                  <!-- ./ where column operator -->

                  <!-- ./ where column operator -->
                  <input type="text" class="form-control margin-right-20" ng-model="param.value">
                  <!-- ./ where column operator -->

                  <!-- where param condition -->
                  <select class="form-control functionSelect-modal" ng-model="param.condition">
                    <option value="AND">AND</option>
                    <option value="OR">OR</option>
                  </select>
                  <!-- ./ where param condition -->

                </div>
              </div>


              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <div class="col-sm-12">
                <div class="col-sm-12 text-right">
                  <button ng-click="addClause()" class="btn btn-flat btn-sm">Add Clause</button>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputTitle" ng-model="inputTitle">
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputSubTitle" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputSubTitle" ng-model="inputSubTitle">
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputTitle" class="col-sm-2 control-label">Background</label>
                <div class="col-sm-10">
                  <div class="btn-group">
                    <button ng-repeat="color in colors" type="button" ng-class="{'active':selectedBackground==color}" ng-click="onBackgroundSelectd(color)" class="btn {{color}} margin-right-10">░</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputTitle" class="col-sm-2 control-label">Icon</label>
                <div class="col-sm-10">
                  <div class="btn-group icons-scroll-modal">
                    <button ng-repeat="icon in icons" type="button" ng-class="{'active':selectedIcon==icon}" ng-click="onIconSelected(icon)" class="btn-icon-modal btn btn-sm"><i class="fa {{icon}}"></i></button>
                  </div>
                </div>
              </div>
            </div>

          </div>
      </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-left" type="button" ng-click="delete()">Delete</button>
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<!-- /view filters settings modal -->

<!-- /widget settings modal -->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Widget Settings</h3>
    </div>
    <div class="modal-body">

        <form class="form-horizontal">
          <div class="row">

            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputTitle" class="col-sm-2 control-label">SQL</label>
                <div class="col-sm-10" id='inputTitle'>
                  <span class="staticQuery-modal">SELECT </span>
                  <select class="form-control functionSelect-modal" ng-model="selectedFunction" ng-change="onFunctionSelected(this)">
                    <option value="COUNT">COUNT</option>
                    <option value="SUM">SUM</option>
                    <option value="AVG">AVG</option>
                    <option value="MAX">MAX</option>
                    <option value="MIN">MIN</option>
                  </select>
                  <span class="staticQuery-modal"> (</span>
                  <i-check ng-model="isDistinct" class="icheckbox_flat-blue"></i-check> Distinct
                  <select class="form-control tablesSelect-modal" ng-model="selectedColumn" ng-change="onColumnSelected(this)">
                    <option ng-repeat="col in columns" value="{{col.value}}">{{col.name}}</option>
                  </select>
                  <span class="staticQuery-modal">) FROM `{{table}}`;</span>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputTitle" ng-model="inputTitle">
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputTitle" class="col-sm-2 control-label">Background</label>
                <div class="col-sm-10">
                  <div class="btn-group">
                    <button ng-repeat="color in colors" type="button" ng-class="{'active':selectedBackground==color}" ng-click="onBackgroundSelectd(color)" class="btn {{color}} margin-right-10">░</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputTitle" class="col-sm-2 control-label">Icon</label>
                <div class="col-sm-10">
                  <div class="btn-group icons-scroll-modal">
                    <button ng-repeat="icon in icons" type="button" ng-class="{'active':selectedIcon==icon}" ng-click="onIconSelected(icon)" class="btn-icon-modal btn btn-sm"><i class="fa {{icon}}"></i></button>
                  </div>
                </div>
              </div>
            </div>

          </div>
      </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-left" type="button" ng-click="delete()">Delete</button>
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<!-- /widget settings modal -->

<div class="jumbotron" ng-show="isViewEmpty">
  <div class="container">
    <h1>Empty View</h1>
    <p>You must configure your view.</p>
    <p><a class="btn btn-primary btn-lg" href="#/view/{{viewData.id}}/setup" role="button">View Configure</a></p>
  </div>
</div>

<section class="content" ng-show="!isViewEmpty">
  <!--<div class="row">
    <div class="col-xs-12">
      <a class="btn btn-primary btn-lg" href="#/view/{{viewData.id}}/setup" role="button">Configure</a>
    </div>
  </div>-->

  <div class="row">
    <div ng-repeat="widget in widgets.getWidgets()">
      <div ng-switch="widget.getType()">
        <div ng-switch-when="widgetTypeCounter">
          <!-- widget -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="counterWidget info-box {{widget.getBg()}}" ng-click="openWidgetSettings(widget)">
                <span class="info-box-icon"><i class="fa {{widget.getIcon()}}"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">{{widget.getTitle()}}</span>
                  <span class="info-box-number">{{widget.getValue()}}</span>
                </div>
            </div>
          </div>
          <!-- /widget -->
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{term.many}}</h3>
          <div class="box-tools">
            <div class="input-group input-group-sm pull-right margin-left-10 flex">
              <input type="text" ng-model="searchText" ng-enter="search()" name="table_search" class="form-control pull-right ng-pristine ng-untouched ng-valid ng-empty" placeholder="Search">
              <a ng-show="isSearchMode" ng-click="clearSearch()" class="btn btn-sm pull-right btn-flat bg-navy" role="button" data-toggle="tooltip" title="Clear Search">
                <i class="fa fa-ban"></i><span class="hidden-sm hidden-xs margin-left-5">Clear Search</span>
              </a>
            </div>
            <!-- export -->
            <div class="btn-group pull-left margin-right-10" data-toggle="tooltip" title="Export">
              <button type="button" class="btn btn-sm bg-aqua btn-flat">
                <i class="fa fa-floppy-o"></i><span class="hidden-sm hidden-xs margin-left-5">Export</span>
              </button>
              <button type="button" class="btn btn-sm bg-aqua dropdown-toggle btn-flat" data-toggle="dropdown" aria-expanded="true">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-click="exportAs('csv')">CSV</a></li>
              </ul>
            </div>
            <!-- /export -->
            <!-- add widget -->
            <div class="btn-group pull-left margin-right-10" data-toggle="tooltip" title="Add Widget">
              <button type="button" class="btn btn-sm bg-yellow btn-flat">
                <i class="fa fa-th-large"></i><span class="hidden-sm hidden-xs margin-left-5">Add Widget</span>
              </button>
              <button type="button" class="btn btn-sm bg-yellow dropdown-toggle btn-flat" data-toggle="dropdown" aria-expanded="true">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-click="addCounterWidget()">Counter</a></li>
              </ul>
            </div>
            <!-- /add widget -->
            <a ng-show="permissions.c" class="btn btn-sm pull-left btn-flat bg-green margin-right-10" href="#/view/{{viewData.id}}/create" role="button" data-toggle="tooltip" title="Add {{term.one}}">
              <i class="fa fa-plus"></i><span class="hidden-sm hidden-xs margin-left-5">Add {{term.one}}</span>
            </a>
            <a class="btn btn-sm pull-right btn-flat bg-purple" href="#/view/{{viewData.id}}/setup" role="button" data-toggle="tooltip" title="Configure">
              <i class="fa fa-wrench"></i><span class="hidden-sm hidden-xs margin-left-5">Configure</span>
            </a>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
            <div class="col-xs-12">
              <table class="table table-hover table-bordered dataTable">
                <thead>
                  <tr>
                    <th ng-class="{'sorting': col!=sortingColumn, 'sorting_desc': (col==sortingColumn && sortingDir=='DESC'), 'sorting_asc': (col==sortingColumn && sortingDir=='ASC')}" ng-repeat="col in tableData.columns" ng-click="doSorting(col)">{{col}}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in tableData.rows">
                  <td ng-repeat="(tdKey, tdVal) in row">
                    <div ng-if="primaryKey == tdKey">
                      <a href="#/view/{{viewId}}/row/{{tdVal}}">{{tdVal}}</a>
                    </div>
                    <div ng-if="primaryKey != tdKey">
                      {{tdVal}}
                    </div>
                  </td>
                  <td>
                    <button ng-show="permissions.u" ng-click="updateRow(row)" type="button" class="btn btn-xs bg-green btn-flat" data-toggle="tooltip" title="Edit {{term.one}}"><i class="fa fa-pencil"></i></button>
                    <button ng-show="permissions.d" ng-click="deleteRow(row)" type="button" class="btn btn-xs bg-red btn-flat" data-toggle="tooltip" title="Delete {{term.one}}"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="box-footer">
            <div class="col-sm-5 col-xs-12">
              <div class="margin-top-10">Showing {{currentPage}} to {{(tableData.count/rowsPerPage) | roundUp}} of {{tableData.count}} entries</div>
            </div>
            <div class="col-sm-7 col-xs-12">
              <div class="pull-right no-margin no-padding table-pagination-wraper">
                <uib-pagination class="pagination-sm" max-size="5" total-items="tableData.count" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
              </div>
            </div>
          </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
