<nb-card>
  <nb-card-header>{{title}}</nb-card-header>
  <nb-card-body>
    <form [formGroup]="formGroup">
      <!-- Referance Table -->
      <div class="form-group mb-3">
        <label class="label" for="table">Referance table</label>
        <nb-select placeholder="Table" id="table" fullWidth formControlName="tableCtrl">
          <nb-option *ngFor="let table of tables" [value]="table">{{table}}</nb-option>
        </nb-select>
      </div>
      <div class="form-group mb-3">
        <label class="label" for="match_column">Match column `{{viewColumn?.name}}` in referance table</label>
        <nb-select placeholder="Column" id="match_column" fullWidth formControlName="matchColumnCtrl">
          <nb-option *ngFor="let col of columns" [value]="col.name">{{col.name}}</nb-option>
        </nb-select>
      </div>
      <!-- Use Column -->
      <div class="form-group">
        <label class="label" for="name">Use column as `{{viewColumn?.name}}` value</label>
        <nb-select placeholder="Column" id="name" fullWidth formControlName="nameCtrl">
          <nb-option *ngFor="let col of columns" [value]="col.name">{{col.name}}</nb-option>
        </nb-select>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-end">
    <button nbButton hero status="danger" size="small" (click)="ref.close(false)" class="mr-3">
      <nb-icon icon="close"></nb-icon>
      Cancel
    </button>
    <button nbButton hero status="success" size="small" (click)="save()" [disabled]="!formGroup.valid">
      <nb-icon icon="plus"></nb-icon>
      Save
    </button>
  </nb-card-footer>
</nb-card>