<nb-card accent="primary">
  <nb-card-header>{{title}}</nb-card-header>
  <nb-card-body>
      <form [formGroup]="widgetForm">
        <h6>Widget Properties</h6>
        <div class="input-group">
          <!-- Widget name -->
          <input 
            nbInput 
            type="text" 
            placeholder="Widget Name" 
            class="form-control margin-auto-1rem-auto-0rem padding-right-1-rem" 
            formControlName="nameCtrl" 
            [status]="widgetForm.controls['nameCtrl'].invalid && (widgetForm.dirty || widgetForm.touched) ? 'danger': 'success'"
            [(ngModel)]="widget.name" 
            nbTooltip="Will be used as the widget title"
            nbTooltipPlacement="top" 
            nbTooltipStatus="primary"
          >

          <!-- Widget color -->
          <nb-select 
            filled 
            placeholder="Color" 
            class="margin-auto-0 padding-right-1-rem" 
            formControlName="colorCtrl"
            [(ngModel)]="widget.color"
            [status]="widgetForm.controls['colorCtrl'].invalid && (widgetForm.dirty || widgetForm.touched) ? 'danger': widget.color"  
            nbTooltip="Will be used in widget icon & accent"
            nbTooltipPlacement="top" 
            nbTooltipStatus="primary"
          >
            <nb-option value="primary">Perple</nb-option>
            <nb-option value="info">Blue</nb-option>
            <nb-option value="danger">Red</nb-option>
            <nb-option value="success">Green</nb-option>
            <nb-option value="warning">Orange</nb-option>
          </nb-select>

          <!-- Widget icon -->
          <nb-select 
            placeholder="Icon" 
            class="margin-auto-0 padding-right-1-rem" 
            formControlName="iconCtrl"
            [(ngModel)]="widget.icon"
            [status]="widgetForm.controls['iconCtrl'].invalid && (widgetForm.dirty || widgetForm.touched) ? 'danger': 'success'"  
            nbTooltip="Will be used in widget bnackground"
            nbTooltipPlacement="top" 
            nbTooltipStatus="primary"
          >
            <nb-option *ngFor="let icon of iconsList" value="{{icon}}">
                <nb-icon icon="{{icon}}" [status]="widget.color" class="margin-auto-1rem-auto-0rem"></nb-icon>
                {{icon}}
            </nb-option>
          </nb-select>
        </div>
        <hr/>
        <h6>Data To Show</h6>
        <div class="input-group d-flex flex-row align-items-center">
            <span class="mr-3">SELECT  </span>
            <!-- Aggragate function -->
            <nb-select 
              placeholder="Function" 
              class="mr-3" 
              formControlName="functionCtrl"
              [(ngModel)]="widget.function"
              [status]="widgetForm.controls['functionCtrl'].invalid && (widgetForm.dirty || widgetForm.touched) ? 'danger': 'success'"
              nbTooltip="Please select the aggragate function we."
              nbTooltipPlacement="top" 
              nbTooltipStatus="primary"  
            >
              <nb-option *ngFor="let func of widgetFunctionVals" value="{{func}}">{{func}}</nb-option>
            </nb-select>

            <span class="mr-3">(</span>
            <!-- Distinct -->
            <nb-checkbox 
                class="form-control mr-3" 
                formControlName="distinctCtrl"
                [(ngModel)]="widget.distinct"
                [status]="widgetForm.controls['distinctCtrl'].invalid && (widgetForm.dirty || widgetForm.touched) ? 'danger': 'success'"
                nbTooltip="If selected, a `DISTINCT` will be added to the query"
                nbTooltipPlacement="top" 
                nbTooltipStatus="primary"   
              >
                DISTINCT
            </nb-checkbox>
            <!-- Colummn -->
            <nb-select 
              placeholder="Column" 
              class="mr-3" 
              formControlName="columnCtrl"
              [(ngModel)]="widget.column"
              [status]="widgetForm.controls['columnCtrl'].invalid && (widgetForm.dirty || widgetForm.touched) ? 'danger': 'success'"  
              nbTooltip="The column we run the aggragation on. for all columns use `*`"
              nbTooltipPlacement="top" 
              nbTooltipStatus="primary" 
            >
              <nb-option value="*">*</nb-option>
              <nb-option *ngFor="let column of view?.columns" value="{{column.name}}">{{column.name}}</nb-option>
            </nb-select>
            <span class="mr-3">)</span>
            <span class="mr-3">FROM `{{view.table}}`</span>
        </div>
        <hr/>
        <h6>Filter The Data</h6>
        <nb-alert accent="primary" *ngIf="widget.where.length > 0">
            The filters (where clause) are optional. If where statements are not needed, <br/>
            please remove the existing ones by using the red trash button.
        </nb-alert>
        <!-- Where row start -->
        <div class="input-group mb-3" *ngFor="let where of widget?.where; let i = index; let last = last">
          <span class="margin-auto-0 pr-3">WHERE </span>
          <!-- Where Column -->
          <nb-select 
            placeholder="Column" 
            class="pr-3" 
            formControlName="whereColumnCtrl_{{where.uuid}}"
            [(ngModel)]="widget.where[i].column"
            [status]="widgetForm.controls['whereColumnCtrl_'+where.uuid].invalid && (widgetForm.dirty || widgetForm.touched) ? 'danger': 'success'"
            nbTooltip="The column to use in where clause"
            nbTooltipPlacement="top" 
            nbTooltipStatus="primary"   
          >
            <nb-option *ngFor="let column of view?.columns" value="{{column.name}}">{{column.name}}</nb-option>
          </nb-select>
          <!-- Where Operator -->
          <nb-select 
            placeholder="=><" 
            class="pr-3 opr-select" 
            formControlName="whereOprCtrl_{{where.uuid}}"
            [(ngModel)]="widget.where[i].opr"
            [status]="widgetForm.controls['whereOprCtrl_'+where.uuid].invalid && (widgetForm.dirty || widgetForm.touched) ? 'danger': 'success'"
            nbTooltip="The operator to use in where clause"
            nbTooltipPlacement="top" 
            nbTooltipStatus="primary"    
          >
            <nb-option *ngFor="let opr of widgetWhereOprVals" value="{{opr}}">{{opr}}</nb-option>
          </nb-select>
          <!-- Where Value -->
          <input 
            nbInput 
            type="text" 
            placeholder="Value" 
            class="form-control margin-auto-1rem-auto-0rem pr-3" 
            formControlName="whereValueCtrl_{{where.uuid}}"
            [(ngModel)]="widget.where[i].value"
            [status]="widgetForm.controls['whereValueCtrl_'+where.uuid].invalid && (widgetForm.dirty || widgetForm.touched) ? 'danger': 'success'"
            nbTooltip="The value we expect"
            nbTooltipPlacement="top" 
            nbTooltipStatus="primary"  
          >

          <!-- Where OR/AND-->
          <nb-select 
            placeholder="OR/AND" 
            class="pr-3 or-and-select margin-0-0-0-auto" 
            formControlName="whereOrCtrl_{{where.uuid}}"
            [(ngModel)]="widget.where[i].or"
            [status]="widgetForm.controls['whereOrCtrl_'+where.uuid].invalid && (widgetForm.dirty || widgetForm.touched) ? 'danger': 'success'"
            nbTooltip="If we use multiple statement, select OR or AND for next statement"
            nbTooltipPlacement="top" 
            nbTooltipStatus="primary"    
          >
            <nb-option value="1">OR</nb-option>
            <nb-option value="0">AND</nb-option>
          </nb-select>
          <!-- Add Where Button -->
          <button 
            nbButton 
            status="primary" 
            hero 
            size="tiny"
            nbTooltip="Add a new where"
            nbTooltipPlacement="top" 
            nbTooltipStatus="primary"
            class="margin-right-0-5-rem" 
            (click)="addWhere()" 
            *ngIf="last"
          >
            <nb-icon icon="plus"></nb-icon>
          </button>
          <button 
            nbButton 
            status="danger" 
            hero 
            size="tiny"
            nbTooltip="Delete this where"
            nbTooltipPlacement="top" 
            nbTooltipStatus="danger"
            (click)="deleteWhere(where.uuid)"
          >
            <nb-icon icon="trash"></nb-icon>
          </button>

        </div>
        <!-- Where row end -->
      </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="margin-0-0-0-auto">
      <button nbButton hero status="danger" size="medium" (click)="ref.close(false)" class="margin-auto-1rem-auto-0rem">
        <nb-icon icon="close"></nb-icon>
        Cancel
      </button>
      <button nbButton hero status="success" size="medium" (click)="save()" [disabled]="!isSaveEnabled">
        <nb-icon icon="plus"></nb-icon>
        Save
      </button>
    </div>
  </nb-card-footer>
</nb-card>