hr {
    border: 0px;
    border-bottom: 1px solid #1b1b38;
    margin: 1.5rem 0rem;
}

::ng-deep
nb-select.opr-select button.select-button {
    min-width: 4.5rem;
}

::ng-deep
nb-select.or-and-select button.select-button {
    min-width: 4.5rem;
}

nb-card-footer {
    display: flex;
}